<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-transparent border border-white text-white">
                <h5 class="card-header">Register</h5>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn border border-white btn-outline-white text-white">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>